[epydoc]
# Project name and url
name: Optimisation via use of genetic algorithm
url: https://dev.azure.com/putptm/

# Module list
modules: pyb/src/port.py pyb/boot.py pyb/src/algorithm.py

# Generator settings
imports: no
introspect: no

# Output format. Possible html, pdf, text, latex, dvi, ps.
output: html

# Output folder
target: media/documentation/

# Display warnings and errors and console output
verbosity: 1

